body {
    background-color: rgb(233, 214, 241);
    padding: 30px;
    display: flex;
    text-align: center;
}

body {
    background: rgb(219, 190, 190);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
