.container {
    background: rgb(181, 156, 202);
    padding: 20px;
    border-radius: 20px 5px;
    box-shadow: 5px 5px 30px 30px rgb(181, 156, 202);
}

.container {
    background-color:  rgb(209, 179, 179);
    box-shadow: 5px 5px 20px  rgb(185, 159, 159);
    padding: 5px;
    margin: 5px;
}
