.links iframe {
    border-radius: 5px;
    border:  rgb(219, 190, 190);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.616);
    margin: 20px;
}

.links p {
    color: rgb(36, 2, 2);
    background-color: rgb(172, 140, 140);
    padding: 10px;
}

.links a {
    text-decoration: none;
}
