.links {
    background-color:  rgb(166, 166, 202);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(11, 2, 44, 0.767);
}

.links:hover {
    background-color: #897eb3c9;
    transition: 0.3s;
}

.links iframe {
    margin-top: 40px;
    width: 500px;
    height: 400px;
    border: #6971a4;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(8, 2, 31, 0.767);
}

.links p {
    font-size: 17px;
    color: rgb(10, 5, 58);
    margin: 20px;
}

.links a {
    text-decoration: none;
}