body {
    background: rgb(219, 190, 190);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.container {
    background-color:  rgb(209, 179, 179);
    box-shadow: 5px 5px 20px  rgb(185, 159, 159);
    padding: 5px;
    margin: 5px;
}

.content {
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
}

.corpo {
    padding: 15px;
}

.corpo h1 {
    padding: 20px;
    color: rgb(36, 2, 2);
}

.corpo img {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(160, 131, 131);
}

.corpo p {
    font-size: 18px;
    color: rgba(59, 24, 24, 0.856);
}

.links iframe {
    border-radius: 5px;
    border:  rgb(219, 190, 190);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.616);
    margin: 20px;
}

.links p {
    color: rgb(36, 2, 2);
    background-color: rgb(172, 140, 140);
    padding: 10px;
}

.links a {
    text-decoration: none;
}

.sombra_link1:hover p, .sombra_link2:hover p{
    color: rgb(97, 59, 59);
    transition: 0.5s ease;
}
